/*Principio*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /*1rem = 10px*/
}

@font-face {
  font-family: delos;
  src: url(../fonts/grandstander-bold.ttf);
}
@font-face {
  font-family: delos1;
  src: url(../fonts/grandstander-black.ttf);
}
body {
  background: rgb(218, 212, 181);
  background: -moz-radial-gradient(circle, rgb(218, 212, 181) 40%, rgb(230, 216, 144) 100%);
  background: -webkit-radial-gradient(circle, rgb(218, 212, 181) 40%, rgb(230, 216, 144) 100%);
  background: radial-gradient(circle, rgb(218, 212, 181) 40%, rgb(230, 216, 144) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dad4b5",endColorstr="#e6d890",GradientType=1);
}

@keyframes rotarInfinito {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*header*/
header {
  background-color: #952323;
}
header nav {
  font-family: delos;
  font-size: 1.5rem;
}
header a {
  height: 100%;
}
header .navbar-brand img {
  border-radius: 50%;
  animation: rotarInfinito 5s infinite linear;
}
header li a {
  color: #faebd7;
}

/*main*/
.presentacion {
  padding: 5px;
  width: 95%;
  display: flex;
  margin: auto;
}

h1 {
  margin: 15px;
  color: #000000;
  font-family: delos1;
  text-align: center;
  font-size: 3rem;
}

h2 {
  margin: 10px;
  font-family: delos1;
  font-size: 3rem;
}

p {
  font-family: delos;
  color: black;
  font-size: 2rem;
  margin: 30px;
  font-weight: 400;
  text-align: start;
  text-decoration: wavy;
}

.banda {
  width: 100%;
  grid-area: banda;
}

.fixture {
  background-image: url(../fotos/bandavivo.jpg);
  background-position: center;
  background-size: cover;
  color: antiquewhite;
  font-size: 3rem;
  font-family: delos;
  font-weight: 300;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.607);
  padding: 60px 0px;
  text-align-last: center;
}
.fixture li {
  padding: 1rem;
}

.entradas {
  color: blue;
  font-family: delos1;
  font-size: 2.5rem;
  text-align: center;
}

.entradas:hover {
  font-size: 5rem;
  transition: all 0.3s ease;
}

/*Nosotros*/
.fotorama {
  display: flex;
  place-content: center;
}

/*
.carousel-custom {
    max-width: 500px;
    margin: 0 auto;
  }
  .musicos {
    height: 560px;
    object-fit: cover;
    object-position: top;
  }

  h5 {
    color: $beige;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.607);
  }
  .slides {
    color: #dad485;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.607);
  }*/
/*contacto*/
.contacto {
  text-align: center;
}

.btn-custom {
  background-color: #952323;
  color: #dad4b5;
}

/*footer*/
footer {
  background-color: #a73121;
  height: 80px;
}
footer p {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  margin: 1px;
}
footer a img {
  width: 30px;
  transition: all 0.3s ease;
}
footer a img:hover {
  width: 40px;
}

/*mobile*/
@media screen and (max-width: 500px) {
  header {
    flex-direction: column;
  }
  header a {
    height: 60%;
  }
  header a img {
    margin-left: 0px;
  }
  .text-area {
    width: 100%;
  }
}

/*# sourceMappingURL=style2.css.map */
